In [ ]:
import pandas as pd
df = pd.read_csv('/content/test.csv')
df

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,1700,1,1.9,0,0,1,54,0.5,170,...,17,644,913,2121,14,8,15,1,1,0
996,997,609,0,1.8,1,0,0,13,0.9,186,...,2,1152,1632,1933,8,1,19,0,1,1
997,998,1185,0,1.4,0,1,1,8,0.5,80,...,12,477,825,1223,5,0,14,1,0,0
998,999,1533,1,0.5,1,0,0,50,0.4,171,...,12,38,832,2509,15,11,6,0,1,0
999,1000,1270,1,0.5,0,4,1,35,0.1,140,...,19,457,608,2828,9,2,3,1,0,1

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

01) Título do Dataset: test.csv

02) Breve descrição: O dataset contém dados de celulares que foram vendidos por diversas marcas diferentes.

03) Tamanho: 72kB

04) Extensão: .csv

## 05) Descrição das colunas existentes (nome, descrição, tipo, faixa de valores, etc):
ID - id
battery power - capacidade da bateria em mAh
blue - o aparelho possui bluetooth ou não
clock_speed - velocidade que o microprocessador executa as instruções
dual_sim - possui suporte dual_sim
fc - mega pixels da camera frontal
four_g - possui 4g ou não
int_memory - memória interna em gigabytes
m_dep - espessura em cm do aparelho
mobile_wt - peso do aparelho celular
n_cores - número de núcleos do processador
pc - mega pixel da camera primaria
px_height - altura da resolução de pixels
px_width - largura da resolução de pixel
ram - memória ram em gigabytes
sc_h - altura da tela em cm
sc_w - largura da tela em cm
talk_time - tempo máximo que a bateria carregada consegue durar com você falando
three_g - possui 3g ou não
touch_screen - possui touch screen ou não
wifi - possui wifi ou não

In [ ]:
df.columns

Index(['id', 'battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc',
       'four_g', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc',
       'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi'],
      dtype='object')

6)

In [ ]:
x = df['id'].count()
x

1000

7)

MAIOR NÚMERO DE NÚCLEOS

In [ ]:
x = df['n_cores'].max()
x

8

MAIOR MEMÓRIA INTERNA

In [ ]:
x = df['int_memory'].max()
x

64

MAIOR MEMÓRIA RAM

In [ ]:
x = df['ram'].max()
x

3989

MAIOR TEMPO DE CHAMADA

In [ ]:
x = df['talk_time'].max()
x

20

MAIOR CLOCK SPEED

In [ ]:
x = df['clock_speed'].max()
x

3.0