In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Salaries.csv')

Ex1- Quais colunas tem nesta base?


**Resposta:** ID, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status

Ex2- Qual é a coluna de salario base?

**Resposta:** BasePay

Ex3- Qual é o salário médio?

**Resposta: **74768.321972

In [ ]:
df[['TotalPay']].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Id                  74327.500000
BasePay             66325.448840
OvertimePay          5066.059886
OtherPay             3648.767297
Benefits            25007.893151
TotalPay            74768.321972
TotalPayBenefits    93692.554811
Year                 2012.522643
Notes                        NaN
Status                       NaN
dtype: float64

Ex4- Qual é o salário máximo?

**Resposta:** 567595.43

In [ ]:
df[['TotalPay']].max()

Id                         148654
EmployeeName           Zuri Jones
JobTitle              ZOO CURATOR
BasePay                 319275.01
OvertimePay             245131.88
OtherPay                400184.25
Benefits                 96570.66
TotalPay                567595.43
TotalPayBenefits        567595.43
Year                         2014
Notes                         NaN
Agency              San Francisco
Status                        NaN
dtype: object

Ex5- Qual é o emprego do JOSEPH DRISCOLL?

**Resposta:** Captain, Fire Supression
(?)

In [ ]:
df['JobTitle'][24]

Ex6- Qual o nome da pessoa que tem o maior salário de todos?

**Resposta:** NATHANIEL FORD

In [ ]:
salario_maximo = df[['TotalPay', 'EmployeeName']].groupby('TotalPay').max()
salario_maximo.tail(3)

             EmployeeName
TotalPay
471952.64     David Shinn
538909.28    GARY JIMENEZ
567595.43  NATHANIEL FORD

Ex7- Qual é o salário médio por ano?

**Resposta:**

2011: 71744.103871

2012: 74113.262265

2013: 77611.443142

2014: 75463.918140

In [ ]:
df[['TotalPay', 'Year']].groupby('Year').mean()

          TotalPay
Year
2011  71744.103871
2012  74113.262265
2013  77611.443142
2014  75463.918140

Ex8- Quais são os cinco empregos mais comuns (JobTitle)?

**Resposta:** Police Officer 3, Public Svc Aide-Public Works, Registered Nurse, Transit Operator

In [ ]:
empregos = df[['JobTitle','Id']].groupby('JobTitle').count()
empregos_correto = empregos.sort_values('Id')
empregos_correto.tail(5)

                                Id
JobTitle
Police Officer 3              2421
Public Svc Aide-Public Works  2518
Registered Nurse              3736
Special Nurse                 4389
Transit Operator              7036

Ex9- Existe correlação entre ano e salário?

**Resposta:** Sim, os salários estão sendo listados pelos anos, consequentemente sabemos o salário recebido pelas pessoas de lista somente nos anos listados.

Ex10- Como criar um outro dataframe selecionando apenas algumas colunas do dataframe original?

**Resposta:** df2 = df[['JobTitle','EmployeeName','Id']]

In [ ]:
df2 = df[['JobTitle','EmployeeName','Id']]